@import url('https://fonts.googleapis.com/css?family=Muli:200,700');

:root {
  --orange-0: #fff9f1;
  --orange-10: #fdeac9;
  --orange-20: #fbd799;
  --orange-30: #f5b23d;
  --orange-40: #eb9600;
  --orange-50: #cb8200;
  --orange-60: #b27300;
  --orange-70: #936000;
  --orange-80: #6e4800;
  --orange-90: #442d00;
  --orange-100: #1a1100;
}

/* @keyframes slidedown {
  from {
    background-position: 100% 35%;
  }

  to {
    background-position: 100% 100%;
  }
} */

body {
  font-family: 'Muli';
  height: 100vh;
  margin: 0;
  background: var(--orange-0);
  /* background-image: url('./assets/images/moutain.jpg');
  background-size: cover;
  animation-name: slidedown;
  animation-duration: 200s; */
}


.container {
  width: 550px;
  margin: 0 auto;
  height: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocks {
  z-index: 10;
  max-height: 90%;
  overflow-y: scroll;
  width: 100%;
  padding: 1rem;
}

.block {
  margin: 0.5rem;
  border-radius: 0.4rem;
  background: white;
}

.block-content {
  padding: 2.5rem 3rem;
}

.title {
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0;
  letter-spacing: 0.08rem;
  margin-bottom: 1rem;
  background: var(--orange-10);
  color: var(--orange-100);
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  width: max-content;
}

.text {
  font-weight: 200;
  margin: 0;
  font-size: 1.9rem;
  line-height: 3rem;
  color: var(--orange-100);
}

@media screen and (max-width: 550px) {
  .container {
    width: 350px;
  }
}



/* .grid {
  height: calc(100vh - 0.6rem);
  width: 100%;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(7, 1fr);
} */

/* @media screen and (max-width: 800px) {
  .grid {
    display: block;
  }
} */

/* #quote {
  grid-column: 1 / span 3;
  grid-row: 4 / span 6;
}

#counter {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
}

#principle {
  grid-column: 4 / span 4;
  grid-row: 1 / span 9;
} */

